<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="'text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'menu.html' %}

{% block content %}{% endblock %}
<div style="padding-top: 30px">
    <div style="background: #5884FE;padding-top: 10px;padding-bottom: 10px;width: 100%;text-align: center;color: #ffffff;">
        <p>{% trans "We Are Cactus user management: Alejandro Manuel Espada Aurioles" %}</p>
    </div>
</div>
</body>
</html>