{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}
<div class="row-fluid" style="padding-top: 10px;">
    <div style="text-align:center">

        <h1 style="text-align: center;">{{ user.first_name }} {{ user.last_name}} (Alias: {{ user.name }} )</h1>

    </div>
</div>
{% endblock %}