{% load i18n %}
<div class="container-fluid" style="padding-top: 10px; background-color: #5884FE; padding-bottom: 10px ">
  <div class="row-fluid">
    <form id="new_project" method="POST">{% csrf_token %}
      <div class="col-xs-7 col-lg-6">
        <button class="btn btn-warning" formaction="{% url 'home' %}" name="home" type="submit">Home</button>
      </div>
      <div class="col-xs-4 col-lg-5">
        <button class="btn btn-success" formaction="{% url 'admin:index' %}" name="admin"
                type="submit">Admin
        </button>
      </div>
      <div class="col-xs-1 col-lg-1">
        <button class="btn btn-danger" formaction="{% url 'logout' %}" name="logout" type="submit">
          Log Out
        </button>
      </div>
    </form>
  </div>
</div>