<!DOCTYPE html>
{% load i18n %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>User Management</title>
</head>

{% load static %}
<style>

  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    line-height: 1.231;
    font-size: 14px;
    padding-top: 67px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: #DAE4FA;
  }

  .box {
    background-color: #FFF;
    border-radius: 6px !important;
    border: 2px solid #E2E2E2;
    overflow: hidden;
    margin: 5% auto;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    display: inline-block;
  }

  .box label {
    float: left;
  }
</style>
<body>

<form id="login" method="POST">{% csrf_token %}

  <div class="box">
    <div class="row">
      <label for="email">{% trans "Email" %}</label>
      <input id="email" name="username" class="form-control input-lg" type="text" placeholder="Email">
    </div>
    <div class="row" style="padding-top: 10px;">
      <label for="password">{% trans "Password" %}</label>
      <input id="password" name="password" class="form-control input-lg" type="password" placeholder="Contraseña">
    </div>
    <div class="row" style="padding-top: 20px;">
      <button id="submit" class="btn-primary btn-sm" style="border-radius: 4px; border: 0; padding: 8px 10px;"
              type="submit">{% trans "Log In" %}
      </button>
    </div>
  </div>
</form>
{% if message == 1 %}
<div class="row" style="padding-top: 10px">
  <label class="btn btn-danger" style="text-align: center">{% trans "Invalid password or user" %}</label>
</div>
{% endif %}

<div style="padding-top: 130px">
  <div
      style="background: #5884FE;padding-top: 10px;padding-bottom: 10px;width: 100%;text-align: center;color: #ffffff;">
    <p>{% trans "We Are Cactus user management: Alejandro Manuel Espada Aurioles" %}</p>
  </div>
</div>

</body>
</html>